<div class="board-element" data-element-id="{{id}}">
    <div class="board-element-header">
        <span class="board-element-number">{{number}}</span>
        <span class="board-element-creator">{{user.username}}</span>
        <i class="fas fa-trash ml-auto delete-icon" data-target="remove"></i>
    </div>
    <div class="board-element-body">
        {{#if imagePath}}
        <img class="board-element-image" src="{{imagePath}}">
        {{else}}
        <p class="board-element-message">{{note}}</p>
        {{/if}}
    </div>
    <div class="board-element-footer">
        {{#if direction}}
        <div class="board-element-direction">
            <i class="fas fa-location-arrow direction mr-2"></i>{{direction}}
        </div>
        {{/if}}
        <time class="board-element-timestamp" datetime="{{createdAt}}">{{formatDateTime createdAt}}</time>
    </div>
</div>
