<div class="side-nav animated">
    <div class="side-nav-header">
        <h4 class="m-0">Menu</h4>
        <span class="close-sidebar" data-target="closeSidebar" title="Close sidebar">
            <i class="fas fa-times fa-lg"></i>
        </span>
    </div>

    <!-- My boards -->
    <div class="side-nav-body">
        {{> alert}}

        <div class="side-nav-section">
            <div class="section-header">
                <h3 class="side-nav-section-title">My boards</h3>
                <button class="button button-small button-green" data-target="createBoard">Create board</button>
            </div>

            {{#if myBoards}}
                <ul class="board-list">
                    {{#each myBoards}}
                        <li class="board-list-item {{#ifEquals ../selectedBoard id}}active{{/ifEquals}}" data-target="board" data-board-id="{{id}}">{{name}}
                            <div class="board-list-item-description">Created at <time datetime="{{createdAt}}">{{formatDateTime createdAt}}</time></div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="side-nav-text">You don't own any boards. Create one!</p>
            {{/if}}
        </div>

        <!-- Active boards -->
        <div class="side-nav-section">
            <div class="section-header">
                <h3 class="side-nav-section-title">Active boards</h3>
            </div>

            {{!-- <ul class="board-list">
                <li class="board-list-item" data-target="test">Hallo123<span class="board-list-item-creator">Created by luuk</span></li>
                <li class="board-list-item">Grappige plaatsnamen<span class="board-list-item-creator">Created by matthijs</span></li>
            </ul> --}}

            {{#if activeBoards}}
                <ul class="board-list">
                    {{#each activeBoards}}
                    <li class="board-list-item" data-target="board" data-board-id="{{id}}">{{name}}<div
                            class="board-list-item-description">Created by {{user.username}}</div>
                    </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="side-nav-text">You are not part of any board.</p>
            {{/if}}
        </div>

        <!-- Snapshots -->
        <div class="side-nav-section">
            <div class="section-header">
                <h3 class="side-nav-section-title">My snapshots</h3>
            </div>

            {{#if snapshots}}
                <ul class="board-list">
                    {{#each snapshots}}
                    <li class="board-list-item" data-target="board" data-board-id="{{id}}">{{name}}<div
                            class="board-list-item-description">Created at <time datetime="{{createdAt}}">{{formatDateTime createdAt}}</time></div>
                    </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="side-nav-text">No snapshots available.</p>
            {{/if}}
        </div>
    </div>
</div>
